{% extends 'base.html' %}
{% load static %}

{% block title %}User Agent{% endblock %}

{%  block body %}
  <div class="content">
    <button type="button" class="btn btn-primary btn-lg user-agent" data-action="my_agent">Get My User Agent</button>
    <button
        type="button"
        class="btn btn-primary btn-lg user-agent"
        data-action="fake_agent"
        data-url="{% url 'fake_user_agent' %}">Get Fake User Agent</button>
  </div>
  <div class="content text">
    <p class="result"></p>
  </div>
{% endblock %}

{% block extrascripts %}
  <script src="{% static 'js/user_agent.js' %}"></script>
{% endblock %}